body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    background-color: rgb(231, 251, 234);
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;
}

header {
    background-color: rgb(231, 251, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

.center-header {
    display: flex;
    width: 50%;
    height: 70%;
    background-color: rgb(250, 250, 250);
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    margin: 0 10%;
    border: 1px solid rgb(219, 219, 219);
}

header * {
    display: inline;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.me-2 {
    width: 30vw;
}

.user {
    display: flex;
    align-items: center;
}

.benvenuto {
    margin-right: 20px;
}

.container {
    width: 100%;
    background-color: rgb(231, 251, 234);
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.stats {
    margin-top: 30px;
    flex: 9;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    max-height: 500px;
}

.left {
    margin-top: 30px;
    flex: 5;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-right: 50px;
    border-radius: 10px;
    max-height: 600px;
}


.shop-img{
    width:50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgb(31, 155, 0);
}

.shop{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    font-size: large;
    background-color: rgb(148, 221, 141);
    padding: 20px;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.shop img{
    margin-left: 20px;
}

.info{
    margin-top: 20px;
}

.info > li {
    margin: 15px 0;
}

.descrizione{
    margin: 5px;
    padding:5px;
    border-radius: 5px;
}
.shop-info{
    display: flex;
    width: 100%;
    align-items: center;
    font-size: medium;
    padding: 10px;
    border-top: 1px solid rgb(201, 201, 201);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-body{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
}

input{
    margin:2px;
}
label{
    margin-top: 10px;
}

.info-form{
    margin-left: 5px;
    color: rgb(199, 36, 15);
}

textarea{
    height: 100px;
    margin-bottom: 10px;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns button{
    margin-left: 10px;
}


.uk-switcher{
    width:90%;
    height: 100%;
}
.badge{
    margin-right:10%;
}



.stats::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.uk-switcher::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.uk-switcher{
	overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.stats{
	overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    
}

.stato{
    margin-left: 30px;
}

.tab{
	min-height: 30px!;
}

.uk-tab{
	min-height: 30px !;
}



.uk-switcher .list-group {
    max-height: 400px;
    overflow: auto; 
    padding-right: 15px; 
}

/* Nasconde la scrollbar su Chrome e Safari */
.uk-switcher .list-group::-webkit-scrollbar {
    display: none;
}

/* Nasconde la scrollbar su Firefox */
.uk-switcher .list-group {
    scrollbar-width: none;
}

.list-group-item{
	margin-top: 10px;
}

