<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vestiti</title>

<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/css/uikit.min.css" />
<!--Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!--CSS-->
<link rel="stylesheet" th:href="@{/CSS/index.css}">
<!--Font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
	<header>
			<div class="center-header">
				<div><img class="icon" th:src="@{/images/dress.png}"></div>
				<form class="d-flex" role="search" th:action="@{/cercaNegozi}" th:object="${cercaForm}" method="post">
					<input class="form-control me-2" type="text" name="cercati" th:value="${cercati}" placeholder="Cerca negozio..." aria-label="Search">
					<button class="btn btn-success" type="submit" ><span uk-icon="search" class="search"></span></button>
				  </form>
			</div>
			<div class="user">
				<div th:if="${isAuthenticated}">
					<div class="username">
						Ciao, <span th:text="${username}">Username</span>
					</div>
					<button type="button" class="btn btn-success" th:onclick="|window.location.href = '/logout'|">Logout<span uk-icon="sign-out"></span></button>
				</div>
				<div class="btn-container" th:unless="${isAuthenticated}">
					<button type="button" class="btn btn-success" th:onclick="|window.location.href = '/login'|">Login</button>
					<button type="button" class="btn btn-success" th:onclick="|window.location.href = '/register'|">Registrati</button>
				</div>
			</div>
	</header>
	<div class="background-container">
			<div class="background">
				<h2>Supporta i negozianti locali</br>
					Cerca i prodotti e ritirali vicino a te!</h2>
			</div>
		</div>
		
		<div class="card-container" th:if="${isSearching}">
			<div th:each="negozio : ${trovati}"  class="card">
				<img th:src="@{/images/background_shopping.jpg}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title" th:text="${negozio.nome}">Card title</h5>
				  <div class="card-description">
					<p th:text="${negozio.descrizione}" class="card-text">Descrizione</p>
				  </div>
				  <a th:href="@{/negozio/{id}/prodotti(id=${negozio.id})}" class="btn btn-success">Visita</a>
				</div>
			</div>  
		</div>
		
		<div class="cards-title">
			<h4>I Negozi Della Settimana</h4>
		</div>
		<div class="card-container">
			<div th:each="negozio : ${negozi}"  class="card">
				<img th:src="@{negozio/copertina/{id}(id = ${negozio.id})}" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title" th:text="${negozio.nome}">Card title</h5>
				  <div class="card-description">
					<p th:text="${negozio.descrizione}" class="card-text">Descrizione</p>
				  </div>
				  <a class="btn btn-success" th:href="@{/negozio/{negozioId}/prodotti(negozioId=${negozio.id})}">Visita</a>
				</div>
			</div>  
		</div>
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit-icons.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>