<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Nuovo Negozio</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/css/uikit.min.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="/CSS/nuovoNegozio.css" />
</head>
<body>
  <h1>Registra Negozio</h1>
  
  <p>Bisogna capire come poter aggiungere le categorie da inserire</p>
    <div class='form-container'>
      <form class="form" th:action="@{/nuovoNegozio}" th:object="${negozio}" method="post" >
        <input class="uk-input" type="text" placeholder="Nome negozio" th:field="*{nome}">
		<input class="uk-input" type="text" placeholder="Indirizzo" th:field="*{indirizzo}">
		<textarea class="uk-textarea" placeholder="Descrizione..." th:field="*{descrizione}"></textarea>
		<div id="categorie-container"> 
			<input class="uk-input nuova-categoria" type="text" placeholder="Categoria">
		</div>
		<button class="uk-button uk-button-default" type="button" onclick="appendNuovaCategoria()">
			<span class="uk-icon uk-margin-right" uk-icon="icon:plus"></span>
			Aggiungi Categoria
		</button>
		<div>
			<button class="uk-button uk-button-default" type="submit">Submit</button>
		</div>   
      </form>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit-icons.min.js"></script>
  <script>
	let count = 1;
	function appendNuovaCategoria(){
		document.getElementById('categorie-container').innerHTML += '<input class="uk-input nuova-categoria" type="text" placeholder="Categoria">'
	}
  </script>
</body>
</html>