<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Nuovo Negozio</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/css/uikit.min.css" />
  <!-- CSS -->
  <link rel="stylesheet" href="/CSS/nuovoNegozio.css" />
</head>
<body>
  <h1>Registra Negozio</h1>
  
    <div class='form-container'>
      <form class="form" th:action="@{/nuovoNegozio}" th:object="${negozio}" method="post" >
        <input class="uk-input" type="text" placeholder="Nome negozio" th:field="*{nome}">
		<input class="uk-input" type="text" placeholder="Indirizzo" th:field="*{indirizzo}">
		<textarea class="uk-textarea" placeholder="Descrizione..." th:field="*{descrizione}"></textarea>
		<div id="categorie-container"> 
			<input class="uk-input nuova-categoria" name="categorie[0].nome" type="text" placeholder="Categoria">
		</div>
		<button class="uk-button uk-button-default" type="button" onclick="appendNuovaCategoria()">
			<span class="uk-icon uk-margin-right" uk-icon="icon:plus"></span>
			Aggiungi Categoria
		</button>
		<div>
			<button class="uk-button uk-button-default" type="submit">Submit</button>
		</div>   
      </form>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.20.10/dist/js/uikit-icons.min.js"></script>
  <script>
	let count = 1;
	function appendNuovaCategoria(){
	    const container = document.getElementById('categorie-container');
	    const input = document.createElement('input');
	    input.className = 'uk-input nuova-categoria';
	    input.setAttribute('name', 'categorie[' + count + '].nome');
	    input.setAttribute('type', 'text');
	    input.setAttribute('placeholder', 'Categoria');
	    container.appendChild(input);
	    count++;
	}
  </script>
</body>
</html>