<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registrati</title>

<!--CSS-->
<link rel="stylesheet" type="text/css" href="CSS/register.css">
<!--Font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>
    
    <div class='form-container'>
        <div class="head">
            <h4>Crea un account!</h4>
            <p>Se sei un negoziante spunta la casella in basso!</p>
        </div>
        
        <form class="form" th:action="@{/register}" method="post" enctype="multipart/form-data">
          <input type="text" placeholder="Email" th:field ="${utente.email}"/>
		  <span th:if="${#fields.hasErrors('utente.email')}" th:text="${#fields.errors('utente.email')}">Errore</span>
          <input type="text" placeholder="Nome" th:field="${utente.nome}"/>
		  <span th:if="${#fields.hasErrors('utente.nome')}" th:text="${#fields.errors('utente.nome')}"></span>
          <input type="text" placeholder="Cognome" th:field="${utente.cognome}"/>
		  <span th:if="${#fields.hasErrors('utente.cognome')}" th:text="${#fields.errors('utente.cognome')}"></span>
          <input type="text" placeholder="Username" th:field="${credentials.username}"/>
		  <span th:if="${#fields.hasErrors('credentials.username')}" th:text="${#fields.errors('credentials.username')}"></span>
          <input type="password" placeholder="Password" th:field="${credentials.password}"/>
		  <span th:if="${#fields.hasErrors('credentials.password')}" th:text="${#fields.errors('credentials.password')}"></span>
          <span><input type="checkbox" name="negoziante" value="negoziante">
                <label for="negoziante"> Sono un negoziante</label>
          </span>
          <button type="submit">Registrati</button>
        </form>
        <div class="bottom">
            <span>Hai già un account? <a href="/login">Login</a></span>
            <span>Torna alla <a href="/">Home</a></span>
        </div>
      </div>
</body>
</html>